
section.header{
    color:#fff;
    background-image:url("../images/general/BackLockedScreen3.jpg");
    margin-bottom: 2em;
    font-family: font-family: 'Wire One', sans-serif;
}

section.header img{
    position:absolute;
    right:0;
    bottom:-3em;
    display:block
}

.shadowdiv{
    box-shadow:0 2px 8px rgba(0,0,0,.6);
    padding: 10px;
}
.highlighted { color: #b4ae24; 
                font-size: 1.1em;
}


section.header .slogan{
    font-size:3.4em;
    font-family: 'Wire One', sans-serif;
    width:auto;
    line-height:100%;
    margin-top:1.1em;
    margin-bottom:0.8em;
    text-align: center
}

section.header .subtitle{
    font-size:1.3em;
    margin-top:0.2em;
    line-height:normal;
    font-family: 'Wire One', sans-serif;
}
.mySign{
    font-family: 'Great Vibes', cursive;
    font-size: 2em;
    
}

.btnAssistance{
    /*background-color:#b4ae24;*/
    color:#b4ae24;
    width:22px;
    height:auto;
    margin-left:10px;
    margin-right:10px;
    margin-bottom: 20px;
    display:inline;
}

.assistance{
    width:33px;
    height:auto;
}

section.newsletter{
    text-align: center;
    height: auto;
    padding-bottom: 5em;
    padding-left: 1em;
    padding-right: 1em;
    
}

.customers-logo .item{
   margin-left:4em;
    display:block;
    margin-bottom: 4em;
}


.customers-logo .item img{
    width:250px;
   
    padding-right:0px;
    
}
.mySign{
    text-align: right;
    height: 50px;
   font-family: 'Mr De Haviland', sans-serif;
    font-size: 30px
}

section.header .container{
    width:auto;
    height:auto
}

.iconemetier{
    width: 70px;
    height: 70px;
    fill:#b4ae24;
}

section.itemsBI{
    padding: 10px;
    text-shadow: 20px 10px 20px black;
}

.iconeEmail{
    width: 100px;
    height: 100px;
    color: #b4ae24;
    fill: #b4ae24;
}

.iconeEmail:hover{
    width: 102px;
    height:120px;
    transition-duration: 0.8s;
}

.textProjet{
    text-align: center;
}

.iconeProjet{
    width: auto;
    height: 210px;
    /*margin-left: auto;
    margin-right: auto;
    display: block;*/
}



.item img {
    width:250px
}

nav #menu-button svg{
    
    width:100%;
    float:right;
    display:block;
    color:#b4ae24;
}

nav #menu-button p{
    
    display:none;
}
section.METIERS{
    margin-bottom: 0em;
}
h2{
    margin-bottom:0.1em;
    color:#b4ae24;
    text-align:center;
    font-size: 2.2em;
}

h3{
    color:#b4ae24;
}

h4 {
    color: #fff;
    text-align: left;
    font-family: 'Wire One', sans-serif;
    font-size: 1.2em;
   
}
h4:hover {
    color: #b4ae24;
    text-align: left;
    font-family: 'Wire One', sans-serif;
    font-size: 1.4em;
    font-style: bold;
    -webkit-transition: all 0.3s ease;
    transition: all 0.1s ease;
}

/*.text:hover {
text-shadow: 0px 0 15px #fff;
}
.text {
-webkit-transition: all 0.7s ease;
transition: all 0.7s ease;
}*/


p{
    text-align:center;
    font-size: 1.2em;
}
section.itemsCRM{padding-top:0}

section.itemsBI{padding-top:0}

section.courrier{
    color:#fff;
    background-image:url("../images/general/BackLockedScreen3.jpg");
    padding: 10px;
    height: auto;
    
}
.courriertext {
    color: #fff;
    text-align: center;
    font-family: 'Wire One', sans-serif;
}
.btnAssistance{
    height:77px;
    width:auto;
}
.newsletter-form input#nom{
    display:inline-block;
    border-radius:0.4em 0 0 0.4em;
    -moz-border-radius:15px;-webkit-border-radius:15px;
    margin-bottom: 15px;
}
.newsletter-form input#telephone{
    display:block;
    border-radius:0.4em 0 0 0.4em;
    -moz-border-radius:15px;-webkit-border-radius:15px;
    margin-bottom: 15px;
}
.shadowchamp{
    box-shadow:0 2px 8px rgba(0,0,0,.6);
    padding: 10px;
}

.myLetter{
    font-family: 'Wire One', sans-serif;
    font-size: 1.4em;
    margin-bottom: auto;
    
}
    
}
.imgcourrier{
    width:auto;
    height:77px;


}
footer{
    background-color:#353638;
    height:auto;
    padding-top:5em;
    padding-bottom:2em;
}
footer .container{
    padding-top:0;
    background-color:transparent;
}
footer p {
    margin: 2em;
    line-height: 3em;
    text-align: center;

}