
.box {
	width: 300px;
	height: 460px;
	position: relative;
	background: rgba(255,255,255,1);
	display: inline-block;
	margin-bottom: 100px;
	cursor: pointer;
	color: #aca9a9;
	/*box-shadow: inset 0 0 0 3px #2c3e50;*/
	-webkit-transition: background 0.4s 0.5s;
	transition: background 0.4s 0.5s;
}

.box:hover {
	/*background: #353638;*/
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
    background-image:url("../images/general/BackLockedScreen3.jpg");
    
}

.box h3 {
	
	font-size: 2.7em;
	line-height: 100px;
	margin: 0;
	font-weight: 500;
	width: 100%;
    color:#353638
}

.box span {
	display: block;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1.1em;
	padding: 5px;
}

.box h3,
.box span {
	-webkit-transition: color 0.4s 0.5s;
	transition: color 0.4s 0.5s;
}


.box svg {
	position: absolute;
	top: 0;
	left: 0;
}

.box svg line {
	stroke-width: 3;
	stroke: #fff;
	fill: none;
	-webkit-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
}

.box:hover svg line {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.box svg line.top,
.box svg line.bottom {
	stroke-dasharray: 330 240; 
}

.box svg line.left,
.box svg line.right {
	stroke-dasharray: 490 400;
}

.box:hover svg line.top {
	-webkit-transform: translateX(-600px);
	transform: translateX(-600px);
}

.box:hover svg line.bottom {
	-webkit-transform: translateX(600px);
	transform: translateX(600px);
}

.box:hover svg line.left {
	-webkit-transform: translateY(920px);
	transform: translateY(920px);
}

.box:hover svg line.right {
	-webkit-transform: translateY(-920px);
	transform: translateY(-920px);
}
.demo-2 .box {
	box-shadow: inset 0 0 0 10px #2c3e50;
}

.box:hover span {
	color: #b4ae24;
    font-weight: 700;
}
.box:hover h3 {
	color: #fff;
    font-weight: 900;
}

.box svg line {
	stroke-width: 8;
}

.box:hover svg line {
	stroke: #b4ae24;
}


/*****test***/


section.header{
    color:#fff;
    background-image:url("../images/general/BackLockedScreen3.jpg");
    margin-bottom: 1em;
    font-family: font-family: 'Wire One', sans-serif;
}

section.header img{
    position:absolute;
    right:0;
    bottom:-3em;
    display:block
}

.shadowdiv{
    box-shadow:0 2px 8px rgba(0,0,0,.6);
    padding: 10px;
}
.highlighted { color: #b4ae24; 
                font-size: 1.1em;
}


section.header .slogan{
    font-size:3.4em;
    font-family: 'Wire One', sans-serif;
    width:auto;
    line-height:100%;
    margin-top:1.1em;
    margin-bottom:0.8em;
    text-align: center
}

section.header .subtitle{
    font-size:1.3em;
    margin-top:0.2em;
    line-height:normal;
    font-family: 'Wire One', sans-serif;
}
.mySign{
    font-family: 'Great Vibes', cursive;
    font-size: 2em;
    
}

.btnAssistance{
    /*background-color:#b4ae24;*/
    color:#b4ae24;
    width:22px;
    height:auto;
    margin-left:10px;
    margin-right:10px;
    margin-bottom: 20px;
    display:inline;
}

.assistance{
    width:33px;
    height:auto;
}

section.newsletter{
    text-align: center;
    height: auto;
    padding-bottom: 5em;
    padding-left: 1em;
    padding-right: 1em;
    
}

.customers-logo .item{
    margin:3em;
    border-left:2em;
    border-right:2em;
    display:block;
    margin-bottom: 4em;
}


.customers-logo .item img{
    width:250px;
    padding:20px;
    
}
.mySign{
    text-align: right;
    height: 50px;
   font-family: 'Mr De Haviland', sans-serif;
    font-size: 30px
}

section.header .container{
    width:auto;
    height:auto
}

.iconemetier{
    width: 70px;
    height: 70px;
    fill:#b4ae24;
}

.iconemetierBox{
    width: 100px;
    height:100px;
    padding-top: 45px;
    
}

section.itemsBI{
    padding: 10px;
    text-shadow: 20px 10px 20px black;
}

.iconeEmail{
    width: 100px;
    height: 100px;
    
}

.iconeEmail:hover{
    width: 102px;
    height:120px;
    transition-duration: 0.8s;
}

.textProjet{
    text-align: center;
}

.iconeProjet{
    width: auto;
    height: 210px;
    /*margin-left: auto;
    margin-right: auto;
    display: block;*/
}



.item img {
    width:250px
}

nav #menu-button svg{
    
    width:100%;
    float:right;
    display:block;
    color:#b4ae24;
}

nav #menu-button p{
    
    display:none;
}
section.METIERS item{
    margin-bottom: 100px;
}
h2{
    margin-bottom:0.1em;
    color:#b4ae24;
    text-align:center;
    font-size: 2.2em;
}

h3{
    color:#b4ae24;
}

h4 {
    color: #fff;
    text-align: left;
    font-family: 'Wire One', sans-serif;
    font-size: 1.2em;
   
}
h4:hover {
    color: #b4ae24;
    text-align: left;
    font-family: 'Wire One', sans-serif;
    font-size: 1.4em;
    font-style: bold;
    -webkit-transition: all 0.3s ease;
    transition: all 0.1s ease;
}

/*.text:hover {
text-shadow: 0px 0 15px #fff;
}
.text {
-webkit-transition: all 0.7s ease;
transition: all 0.7s ease;
}*/


p{
    text-align:center;
    font-size: 1.2em;
}
section.itemsCRM{padding-top:0}

section.itemsBI{padding-top:0}

section.courrier{
    color:#fff;
    background-image:url("../images/general/BackLockedScreen3.jpg");
    padding: 10px;
    height: auto;
    
}
.courriertext {
    color: #fff;
    text-align: center;
    font-family: 'Wire One', sans-serif;
}
.btnAssistance{
    height:77px;
    width:auto;
}
.newsletter-form input#nom{
    display:inline-block;
    border-radius:0.4em 0 0 0.4em;
    -moz-border-radius:15px;-webkit-border-radius:15px;
    margin-bottom: 15px;
}
.newsletter-form input#telephone{
    display:block;
    border-radius:0.4em 0 0 0.4em;
    -moz-border-radius:15px;-webkit-border-radius:15px;
    margin-bottom: 15px;
}
.shadowchamp{
    box-shadow:0 2px 8px rgba(0,0,0,.6);
    padding: 10px;
}

.myLetter{
    font-family: 'Wire One', sans-serif;
    font-size: 1.4em;
    margin-bottom: auto;
    
}
    
}
.imgcourrier{
    width:auto;
    height:77px;


}
footer{
    background-color:#353638;
    height:auto;
    padding-top:5em;
    padding-bottom:2em;
}
footer .container{
    padding-top:0;
    background-color:transparent;
}
footer p {
    margin: 2em;
    line-height: 3em;
    text-align: center;

}